#app, h4, h5 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #29384a;
  margin-top: 20px;
}

body {
  background-color: #697c92;
  padding-top: 60px;
  padding-bottom: 30px;
}

a {
  color: #29384a;
  text-decoration: underline;
}

.btn {
  background-color: #1e5593;
}
.btn:hover {
  background-color: #224aad;
}

@media screen and (max-width:768px) {
    .navbar-header {display:none};
    body {padding-top:120px};
}

.list-head {
  color: #888585;
  font-weight: bold;
}

.list-content {
  max-height: 20px;
}

#appTable {
  display: none;
}

#header-logo {
  max-height: 65px;
}

.fadeIn {
    animation: fadeInFromNone 0.5s ease-out;
}

@keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h2 {
  font-size: 20px;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.navbar-header {
 margin-top: 6px;
}

#placeholder, #illnessContent {
  color: white;
}

#illnessContent h2 {
  color: white;
}