#app, h4 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: darkgray;
  margin-top: 20px;
}

body {
  background-color: #ebefe5;
  padding-top: 65px;
}

a {
  color: #93b556;
  font-weight: bold;
  text-decoration: underline;
}

.btn {
  background-color: #b6d881;
}
.btn:hover {
  background-color: #93b556;
}

@media screen and (max-width:768px) {
    .navbar-header {display:none};
    body {padding-top:120px};
}

.list-head {
  color: #969595;
  font-weight: bold;
}

.container {
  opacity: 0;
}

#header-logo {
  max-height: 60px;
}